<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 如标签不能联想是缺少dtd -->
<configuration>
	<!-- setting 延迟加载 二级缓存（不用） 使用分布式缓存 -->
	<settings>
		<!-- 打开延迟加载的开关 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 将积极加载改为消极加载，即延迟加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	<!-- 别名 -->

	<typeAliases>
		<package name="com.lwyykj.core.bean" />
	</typeAliases>

</configuration>